.outer-container {
  background-color: var(--section-background-color);
  width: 100%;
  height: auto;
  padding: 5px;
  box-sizing: border-box;
}
.inner-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  box-sizing: border-box;
}
.shop_the_look {
  margin-top: var(--section-top-margin);
  margin-bottom: var(--section-bottom-margin);
  padding-top: var(--section-top-padding);
  padding-bottom: var(--section-bottom-padding);
  padding-left: var(--section-horizontal-padding);
  padding-right: var(--section-horizontal-padding);
}
.section_title__class {
  cursor: pointer;
  color: var(--section-title-color);
  margin-top: var(--section-title-top-margin);
  margin-bottom: var(--section-title-bottom-margin);
  font-size: var(--section-title-font-size);
  line-height: var(--section-title-line-height);
  letter-spacing: var(--section-title-letter-spacing);
}
.section_text__class {
  cursor: pointer;
  color: var(--section-textarea-color);
  margin-top: var(--section-textarea-top-margin);
  margin-bottom: var(--section-textarea-bottom-margin);
  font-size: var(--section-textarea-font-size);
  line-height: var(--section-textarea-line-height);
  letter-spacing: var(--section-textarea-letter-spacing);
}
.image_section_wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--product-image-content-gap);
  width: 100%;
  box-sizing: border-box;
}
.image_picker__class_outer_container {
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.image_picker__class {
  position: relative;
  width: 100%;
  max-width: 400px;
  overflow: hidden;
  border-style: solid;
  border-width: var(--section-image-border-width);
  border-color: var(--section-image-border-color);
  box-sizing: border-box;
  aspect-ratio: 1/1;
}
.section_image_parent {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
.dot__button {
  position: absolute;
  border: 1px solid black;
  border-radius: 50%;
  background-color: var(--image-marker-color);
  cursor: pointer;
}
.dot__button:active {
  background-color: var(--image-marker-active-color);
}
.product_section__outer_wrapper {
  min-height: 300px;
  display: flex;
  justify-content: var(--product-image-container-alignment);
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}
.product_section__inner_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 600px;
  background-color: var(--product-content-backgroud-color);
  border-radius: var(--product-content-border-radius);
  padding-top: var(--product-content-vertical-padding);
  padding-bottom: var(--product-content-vertical-padding);
  padding-left: var(--product-content-horizontal-padding);
  padding-right: var(--product-content-horizontal-padding);
  overflow: hidden;
  box-sizing: border-box;
}
.product_image_wrapper {
  overflow: hidden;
  border-color: var(--product-image-border-color);
  border-width: var(--product-image-border-width);
  border-style: solid;
  border-radius: var(--product-image-radius);
  max-width: var(--product-image-width);
  height: auto;
  box-sizing: border-box;
}
.product__img {
  cursor: pointer;
  object-fit: cover;
  width: 100px;
  height: 100%;
  display: block;
}

.product_title_wrapper {
  cursor: pointer;
  color: var(--product-title-color);
  margin-top: var(--product-title-margin-top);
  margin-bottom: var(--product-title-margin-bottom);
  font-size: var(--product-title-font-size);
  line-height: var(--product-title-line-height);
  letter-spacing: var(--product-title-letter-spacing);
}
.product_price_wrapper {
  cursor: pointer;
  color: var(--product-price-color);
  margin-top: var(--product-price-top-margin);
  margin-bottom: var(--product-price-bottom-margin);
  font-size: var(--product-price-font-size);
  letter-spacing: var(--product-price-letter-spacing-size);
}
.product_button_wrapper {
  cursor: pointer;
  padding-left: var(--product-button-horizontal-padding);
  padding-right: var(--product-button-horizontal-padding);
  padding-top: var(--product-button-vertical-padding);
  padding-bottom: var(--product-button-vertical-padding);
  background-color: var(--product-button-background-color);
  border-style: solid;
  border-width: var(--product-button-border-width);
  border-radius: var(--product-button-border-radius);
  margin-top: var(--product-button-margin-top);
  margin-bottom: var(--product-button-margin-bottom);
  font-size: var(--product-button-font-size);
  letter-spacing: var(--product-button-letter-spacing);
  border-color: var(--product-button-border-color);
  color: var(--product-button-color);
}
.product_button_anchor_link {
  text-decoration: none;
  color: var(--product-button-color);
  font-size: var(--product-button-font-size);
  letter-spacing: var(--product-button-letter-spacing);
}
.product_button_wrapper:hover {
  color: var(--product-button-hover-color);
  background-color: var(--product-button-hover-background-color);
  border-color: var(--product-button-hover-border-color);
}
@media (min-width: 300px) and (max-width: 748px) {
  .image_picker__class_outer_container {
    max-width: 800px;
    background-color: black;
  }
  .image_picker__class {
    width: 600px;
    aspect-ratio: 1/1;
    height: auto;
  }
  .product_section__outer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .product_section__inner_wrapper {
    max-width: 100%;
    width: 100%;
  }
  .image_section_wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--product-image-content-gap);
    width: 100%;
  }
  .section_image_parent {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
    display: block;
  }
  .shop_the_look {
    margin-top: var(--section-top-margin-mobile);
    margin-bottom: var(--section-bottom-margin-mobile);
    padding-top: var(--section-top-padding-mobile);
    padding-bottom: var(--section-bottom-padding-mobile);
    padding-left: var(--section-horizontal-padding-mobile);
    padding-right: var(--section-horizontal-padding-mobile);
  }
  .section_title__class {
    color: var(--section-title-color-mobile, var(--section-title-color));
    margin-top: var(--section-title-top-margin-mobile);
    margin-bottom: var(--section-title-bottom-margin-mobile);
    font-size: var(--section-title-font-size-mobile);
    line-height: var(--section-title-line-height-mobile);
    letter-spacing: var(--section-title-letter-spacing-mobile);
  }
  .section_text__class {
    margin-top: var(--section-textarea-top-margin-mobile);
    margin-bottom: var(--section-textarea-bottom-margin-mobile);
    font-size: var(--section-textarea-font-size-mobile);
    line-height: var(--section-textarea-line-height-mobile);
    letter-spacing: var(--section-textarea-letter-spacing-mobile);
  }
  .product_section__inner_wrapper {
    width: 800px;
    padding-top: var(--product-content-vertical-padding-mobile);
    padding-bottom: var(--product-content-vertical-padding-mobile);
    padding-left: var(--product-content-horizontal-padding-mobile);
    padding-right: var(--product-content-horizontal-padding-mobile);
  }
  .dot__button {
    left: var(--block-vertical_pos);
  }
  .product_image_wrapper {
    width: var(--product-image-width-mobile);
    border-radius: var(--product-image-radius-mobile);
  }
  .product_title_wrapper {
    margin-top: var(--product-title-margin-top-mobile);
    margin-bottom: var(--product-title-margin-bottom-mobile);
    font-size: var(--product-title-font-size-mobile);
    line-height: var(--product-title-line-height-mobile);
    letter-spacing: var(--product-title-letter-spacing-mobile);
  }
  .product_price_wrapper {
    margin-top: var(--product-price-top-margin-mobile);
    margin-bottom: var(--product-price-bottom-margin-mobile);
    font-size: var(--product-price-font-size-mobile);
    letter-spacing: var(--product-price-letter-spacing-size-mobile);
  }
  .product_button_wrapper {
    margin-top: var(--product-button-margin-top-mobile);
    margin-bottom: var(--product-button-margin-bottom-mobile);
    font-size: var(--product-button-font-size-mobile);
    letter-spacing: var(--product-button-letter-spacing-mobile);
  }
  .product_button_anchor_link {
    font-size: var(--product-button-font-size-mobile);
    letter-spacing: var(--product-button-letter-spacing-mobile);
  }
}
@media (min-width: 736px) and (max-width: 770px) {
  .product_section__inner_wrapper {
    width: 376px;
  }
}
@media (min-width: 770px) and (max-width: 842px) {
  .product_section__inner_wrapper {
    width: 410px;
  }
}
@media (min-width: 842px) and (max-width: 913px) {
  .product_section__inner_wrapper {
    width: 445px;
  }
}
@media (min-width: 913px) and (max-width: 980px) {
  .product_section__inner_wrapper {
    width: 485px;
  }
}
@media (min-width: 980px) and (max-width: 1050px) {
  .product_section__inner_wrapper {
    width: 515px;
  }
}
@media (min-width: 1050px) and (max-width: 1120px) {
  .product_section__inner_wrapper {
    width: 545px;
  }
}
@media (min-width: 1200px) {
  .product_section__inner_wrapper {
    width: 750px;
  }
}
